*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

h1{
  font-family: 'Damion', cursive;
  font-size: 2.9em;
}

h2{
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 700;
}

h3{
  font-family: 'IBM Plex Sans', sans-serif;
}

h4{
  font-family: 'IBM Plex Sans', sans-serif;
}

p{
  font-family: 'IBM Plex Sans', sans-serif;
}
