// POP UP

.accomm-thumb:hover{
  // opacity: 0.5;
  cursor: pointer;
}

#close{
  position: absolute;
  right: 0;
  top: 0;
  margin: 10px;
  color: $blue;
  font-size: 0.75em;
  z-index: 100000000;
}

#close:hover{
  color: white;
  cursor: pointer;
}

.close-banner{
  height: 40px;
  background-color: $secondary;
  z-index: 10000;
}

.l-overlay{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  z-index: 100000;
}

body,html{
  /* overflow: hidden; */
}

.l-overlay-content{
  width: 60vw;
  max-height: 100vh;
  height: 100vh;
  background-color: white;
  position: absolute;
  overflow: auto;

}

#photo{
  max-height: 100%;
}
