// POP UP

.l-overlay{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  z-index: 100000;
}

body,html{
  /* overflow: hidden; */
}

.l-overlay-content{
  width: 70vw;
  max-height: 100vh;
  height: 100vh;
  background-color: white;
  position: absolute;
  overflow: auto;

}

// HEADER NAV

.l-fern {
  	background-image: url("images/fern.png");
    overflow: hidden;
    background-position: center;
    background-size: cover;
}
