$grid-breakpoints: (
  xs: 0,
  sm: 500px,
  md: 600px,
  lg: 900px,
  xl: 1000px
);

$blue: #33CCFF;
$secondary: #333333;

@import 'bootstrap/bootstrap';

@import 'variables';
@import 'mixins';
@import 'base';
@import 'layout';
@import 'module';
@import 'state';
@import 'module';
@import 'theme';
@import url('https://fonts.googleapis.com/css?family=Damion&display=swap');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans&display=swap');
